<a href="https://colab.research.google.com/github/AlexanderPico/retrondb-notebooks/blob/main/getting-started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started
Welcome to your first Python notebook for the Retron Database. This notebook will help you establish a connection to the database and teach you how to perform basic transactions.

### Basic installation
If you haven't already, install the following pacakges, restart the kernel (Kernel > Restart), and proceed to subsequent section.

In [ ]:
!pip install pymongo
!pip install dnspython
!pip install python-dotenv

### Connecting to the database
A username and password is required in order to access the database. These should be provided by a team member as either a .env file you can place in the same folder as this notebook, or as secret values that you can manually enter when prompted below.

_Note: we are connecting to the "sandbox" database in this notebook, so you don't have to worry about messing up the real data :). In non-tutorial notebooks, the default parameter is used to connect to "retronDB."_

In [1]:
import retrondb as rdb
db_retrons = rdb.connect_retronDB('sandbox') #this database is for demos and tutorials; it is not the actual database

 Success: Connected to sandbox with 96 retrons

### Retrieving retrons from the database

In [13]:
# Get all retrons in database as a Pandas DataFrame
rdb.get_all_retrons(db_retrons)

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f01cb5959907d83045df37,1,GAGTAACAGTCGGTTAGCTTCCTTCATGGGCCAGTCATGGCGAGTT...,None,None,1,I-A,IA/IIA1,57,25,1
39,62f01cb5959907d83045df5e,1000,GATGGTTTATGGGCAGATTTTTGGTCGCGTTTCGCGACCTGTGAAA...,None,None,None,None,None,55,65,2
40,62f01cb5959907d83045df5f,1036,ACGCATGTAGGCAGATTTGTTGGTTGTGAATCGCAACCAGTGGCCT...,(((((((((((((......(((((((((...)))))))))..(((....,0.002000257;0.002000257;0.002016815;0.00201681...,None,None,None,84,74,1
41,62f01cb5959907d83045df60,1100,TTGTGCACGGTTAGATTTTTTACTCATGTTTCGTGAGTATTGACAA...,None,None,None,None,None,100,85,1
42,62f01cb5959907d83045df61,1122,ACGGGGTCTCCCCCTCGCATACGCGCTGTAGAAACTGCGGCGTAAG...,None,None,None,None,None,49,34,4
...,...,...,...,...,...,...,...,...,...,...,...
34,62f01cb5959907d83045df59,855,TGACCTGGGGTTCCCCCCGGAACCTTAGCTACTTTGGTTTCGCTTG...,None,None,None,None,None,91,71,4
35,62f01cb5959907d83045df5a,888,GAACTCCGTAGCAACTCGTCACAGAACGCCCGATTTTATCAATGTA...,None,None,None,None,None,87,79,3
36,62f01cb5959907d83045df5b,915,AGGCTTGCGGATAGATTCTGCTATTGTGTTTCGCGATAGTTGATAC...,None,None,None,None,None,17,85,4
37,62f01cb5959907d83045df5c,939,GCTTACAGGCAGATTTATTATCGTGTTTCGCGATATATGATCCAAA...,None,None,None,None,None,29,18,1
38,62f01cb5959907d83045df5d,975,GTCCTTTGGAAAGATCTTTAAATAGCGTATCGCTATTTGTTTTGAA...,None,None,None,None,None,87,30,2

### Add a new retron to the database
You can manually add records one at a time as dictionaries (below), or in batches from CSV files (see `importing-retrons.ipynb`).

In [7]:
retron0 = {
        "node":"0",
        "ncRNA":"ACTATAAACGCACAGAACCAGACGCATGGCTGAGATGTCTATTATGTGCGAGGGAACCCAATCTTCCTGCACCAGCTAGACGTTACGCGCCGGCCGCAGCGTGAACCTACGAACCATATAAGAGTGCAAAACCAATGAACCCTTACCCTAAGATACCCGTGATCTTTTCAAAAGCACACCTAATTACCTATACTAAAATCACTTCCC",
        "ensemble prediction":"((((((((.........((((((((((......)))).)))))).(((.((((...)))).)))..(((((....))))).......((((((((((((((((((((((.((((((((.....)))))))).)))))))))))))))))))))).....))))))))",
        "RT-DNA production":"94",
        "Bacterial Editing":"93",
        "Mammalian Editing Group":"1"
        }
rdb.add_retron(db_retrons, retron0)

Added retron to the database.

,_id,node,ncRNA,ensemble prediction,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f046a8f6b57a67a7fefa83,0,ACTATAAACGCACAGAACCAGACGCATGGCTGAGATGTCTATTATG...,((((((((.........((((((((((......)))).)))))).(...,94,93,1

### Updating retron records
You can also update or add new properties to a retron already in the database. See `updating-retrons.ipynb` for more examples.

In [8]:
retron0update = {
        "node":"0",
        "Mammalian Editing Group":"2"
        }
rdb.update_retron(db_retrons, retron0update)

Updated retron in the database.

,_id,node,ncRNA,ensemble prediction,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f046a8f6b57a67a7fefa83,0,ACTATAAACGCACAGAACCAGACGCATGGCTGAGATGTCTATTATG...,((((((((.........((((((((((......)))).)))))).(...,94,93,2

### Query retrons by properties 
You can retrieve retrons from the database by node ID, using `get_retron()`, or by any property, using `get_retrons_by()`. See the `making-queries.ipynb` for more examples.

In [9]:
rdb.get_retrons_by(db_retrons,'Mammalian Editing Group', '2')

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f01cb5959907d83045df38,28,TAGTTTGTCTTTTAGCGAATGAGGCATTTATGCCTAGTCGGGTGTT...,None,None,1,I-A,IA/IIA1,93,32,2
1,62f01cb5959907d83045df39,64,GCTCTTTAGCGTTTTATGGATTTACCACCTGATTGGTCAAATCTAG...,((((((((.........((((((((((......)))).)))))).(...,0.00003;0.00003;0.00003;0.00006;0.00006;0.0000...,None,None,None,26,78,2
2,62f01cb5959907d83045df3a,116,ACTCTTTAGCGTTAGGCTTTGATTTATAGCCTTGTCGAGCGTTTCG...,((((((((.....(((((.........)))))((((..(((...))...,0.04947541;0.050365995;0.051252061;0.055244473...,None,None,None,2,38,2
3,62f01cb5959907d83045df44,400,TTGGACATCAGTCATTCGCTCAGATTCATGAGAGAGTTAGACCCTA...,None,None,None,None,None,40,25,2
4,62f01cb5959907d83045df48,486,TTTATAAAGTAACTTTGCGATAAGCTAAATTTTTCTTCATTGCATT...,None,None,None,None,None,51,3,2
5,62f01cb5959907d83045df4c,613,TGATTGTAACACAGGAGAAGAAGATAAAAAATTTGGCAAAATGGAT...,None,None,None,None,None,18,49,2
6,62f01cb5959907d83045df4e,749,GCTTCTTCTTCGATAGAAGCTGGAGGGCTCAAATGAGCTGACGCAT...,None,None,None,None,None,38,68,2
7,62f01cb5959907d83045df4f,783,GAGAAGCTGATCAGCCCATGGTGAAGTTCAGGGCTACTTATGCTAG...,None,None,None,None,None,95,51,2
8,62f01cb5959907d83045df55,816,AAGAGAACAACTAGAATGAGGTGATTCACCTCCTTGTTTAACGGCA...,None,None,None,None,None,54,71,2
9,62f01cb5959907d83045df57,842,GGTAGTGGCGTTCACGAGGGTGTGTATCATACCCATTTGTGAAGGT...,None,None,None,None,None,1,57,2
10,62f01cb5959907d83045df5d,975,GTCCTTTGGAAAGATCTTTAAATAGCGTATCGCTATTTGTTTTGAA...,None,None,None,None,None,87,30,2
11,62f01cb5959907d83045df5e,1000,GATGGTTTATGGGCAGATTTTTGGTCGCGTTTCGCGACCTGTGAAA...,None,None,None,None,None,55,65,2
12,62f01cb5959907d83045df71,401,TTGAGCATCGAACGTTCACTCAGATCAGAGACAGAGTTAGACCCCA...,.((((((((((((((((.(((......)))...................,None,None,None,None,85,60,2
13,62f01cb5959907d83045df75,430,AAGCCGGCCGGCAGCATATCCGGGAAAATATTTTCCGGCCTGACGG...,(((((((.(((((.(....((((((((...))))))))((((.(((...,None,None,None,None,77,36,2
14,62f01cb5959907d83045df76,803,GTAAGTTTCATATTGAACAAAATTTTATCATCTGAAGGAAATATTG...,(((.(((((((((...........((((((.(((((((...........,None,None,None,None,35,93,2
15,62f01cb5959907d83045df7b,1156,TACGGCTCTGCCTTAAATCTGTGAGGTTGTTTCGCCTCGAAGTATC...,(((((((((((((..((((...(((((......)))))....(......,None,None,None,None,39,95,2
16,62f01cb5959907d83045df88,1732,TCACGCGCATCTGTAAGCTACGCGAAACAACCTTGCAAACCGGACG...,(((((((((((((((((.(((((((.......)))).....(((((...,None,None,None,None,13,23,2
17,62f01cb5959907d83045df89,1856,GGTGCGCGGCGGGGCGGGCAGGACGACCGGTGAGGACCGGTTCTCC...,(((((((((((((((((((((...(((((((....)))))))..((...,None,None,None,None,44,46,2
18,62f01cb5959907d83045df8a,1874,CGCCATGCGGCGGCTTGGACACCCAGCGGGTAGCAGGGCTGTGAGG...,((((((((((((((.(((..........(((((..((((((((......,None,None,None,None,6,19,2
19,62f01cb5959907d83045df8b,1878,CGGCGACGCGGAGGTGAGCCGGTGGAGGACCACCCACTCCGGGGCA...,(((((((((((((((((...(((((....)))))..((((((((.....,None,None,None,None,46,13,2
20,62f01cb5959907d83045df8d,1894,GTGGGCGGTCGGGGTGAGAGTGGATCGAGAGATCCGTCCCAGGGGC...,(((((((((((((((((....(((((....)))))((((((((((....,None,None,None,None,1,83,2
21,62f01cb5959907d83045df91,1928,GTGCGACGGTGCGGAGGTGAGAGTGGTGTGGCCGGTTCGCCGACCG...,(((((((((((((.((((((..(((((((((.(((....))).)))...,None,None,None,None,54,64,2
22,62f046a8f6b57a67a7fefa83,0,ACTATAAACGCACAGAACCAGACGCATGGCTGAGATGTCTATTATG...,((((((((.........((((((((((......)))).)))))).(...,NaN,NaN,NaN,NaN,94,93,2

### Remove retrons
Similarly, you can remove retrons by either by their node ID or by property matches.

In [10]:
rdb.remove_retron(db_retrons, "0")

Removed a retron from the database.

,_id,node,ncRNA,ensemble prediction,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f046a8f6b57a67a7fefa83,0,ACTATAAACGCACAGAACCAGACGCATGGCTGAGATGTCTATTATG...,((((((((.........((((((((((......)))).)))))).(...,94,93,2