<a href="https://colab.research.google.com/github/AlexanderPico/retrondb-notebooks/blob/main/getting-started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started

## INTRODUCTION
Welcome to your first Python notebook for the Retron Database. This notebook will help you establish a connection to the database and teach you how to perform basic transactions.

### Basic installation
If you haven't already, install the following pacakges, restart the kernel (Kernel > Restart), and proceed to subsequent section.

In [ ]:
!pip install pymongo
!pip install dnspython
!pip install python-dotenv

### Connecting to the database
A username and password is required in order to access the database. These should be provided by a team member as either a .env file you can place in the same folder as this notebook, or as secret values that you can manually enter when prompted below.

_Note: we are connecting to the "sandbox" database in this notebook, so you don't have to worry about messing up the real data :). In non-tutorial notebooks, the default parameter is used to connect to "retronDB."_

In [1]:
import retrondb as rdb
db_retrons = rdb.get_retronDB('sandbox') #this database is for demos and tutorials; it is not the actual database
print(db_retrons)

 Success: Connected to sandbox

Collection(Database(MongoClient(host=['ac-rzezkqt-shard-00-01.uuutrha.mongodb.net:27017', 'ac-rzezkqt-shard-00-00.uuutrha.mongodb.net:27017', 'ac-rzezkqt-shard-00-02.uuutrha.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7dwmtw-shard-0', tls=True), 'sandbox'), 'retrons')

### Retrieving retrons from the database

In [24]:
# Get all retrons in database as a Pandas DataFrame
ret_all_df = rdb.get_all_retrons(db_retrons)
ret_all_df.head()

,_id,ncrna,ensemblPrediction,rtdnaProduction,bacterialEditing,mamalianEditingGroup
0,0,GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAG...,((((((((.........((((((((((......)))).)))))).(...,94,93,4

In [21]:
# Get a single retron by identifier as JSON, a dictionary or DataFrame
ret_json=rdb.get_retron(db_retrons, "0","json")
ret_dict=rdb.get_retron(db_retrons, "0","dict")
ret_df=rdb.get_retron(db_retrons, "0",)
print("JSON String: ")
print(ret_json)
print("\nPython Dictionay: ")
print(ret_dict)
print("\nPandas DataFrame: ")
ret_df

JSON String:
{"_id": "0", "ncrna": "GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAGCCGGGTGCCGTGTTAAATCTCAACCCACCGACCATACCCATAGCCGTGGAATAAATCCCCCGAGTTGTAACTTAGCAGGCCGTGGACTAAAAAGCCCGCCTTGTGGTCCTAAGCAAAGAGT", "ensemblPrediction": "((((((((.........((((((((((......)))).)))))).(((.((((...)))).)))..(((((....))))).......((((((((((((((((((((((.((((((((.....)))))))).)))))))))))))))))))))).....))))))))", "rtdnaProduction": 94, "bacterialEditing": 93, "mamalianEditingGroup": "4"}

Python Dictionay:
{'_id': '0', 'ncrna': 'GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAGCCGGGTGCCGTGTTAAATCTCAACCCACCGACCATACCCATAGCCGTGGAATAAATCCCCCGAGTTGTAACTTAGCAGGCCGTGGACTAAAAAGCCCGCCTTGTGGTCCTAAGCAAAGAGT', 'ensemblPrediction': '((((((((.........((((((((((......)))).)))))).(((.((((...)))).)))..(((((....))))).......((((((((((((((((((((((.((((((((.....)))))))).)))))))))))))))))))))).....))))))))', 'rtdnaProduction': 94, 'bacterialEditing': 93, 'mamalianEditingGroup': '4'}

Pandas DataFrame:

,_id,ncrna,ensemblPrediction,rtdnaProduction,bacterialEditing,mamalianEditingGroup
0,0,GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAG...,((((((((.........((((((((((......)))).)))))).(...,94,93,4

### Add a new retron to the database

In [3]:
retron0 = {
        "_id":"0",
        "ncrna":"GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAGCCGGGTGCCGTGTTAAATCTCAACCCACCGACCATACCCATAGCCGTGGAATAAATCCCCCGAGTTGTAACTTAGCAGGCCGTGGACTAAAAAGCCCGCCTTGTGGTCCTAAGCAAAGAGT",
        "ensemblPrediction":"((((((((.........((((((((((......)))).)))))).(((.((((...)))).)))..(((((....))))).......((((((((((((((((((((((.((((((((.....)))))))).)))))))))))))))))))))).....))))))))",
        "rtdnaProduction":94,
        "bacterialEditing":93,
        "mamalianEditingGroup":"4"
        }

# Add a single record to database
db_retrons.insert_one(retron0)

### Query retrons by properties

In [5]:
query={'mamalianEditingGroup': '4'}
cursor = db_retrons.find(query)
for retron in cursor:
    print(retron)

{'_id': '0', 'ncrna': 'GTCTCCCAGTGCCCCACGGACCCATTATTCGACCGGCTAAACTCAGCCGGGTGCCGTGTTAAATCTCAACCCACCGACCATACCCATAGCCGTGGAATAAATCCCCCGAGTTGTAACTTAGCAGGCCGTGGACTAAAAAGCCCGCCTTGTGGTCCTAAGCAAAGAGT', 'ensemblPrediction': '((((((((.........((((((((((......)))).)))))).(((.((((...)))).)))..(((((....))))).......((((((((((((((((((((((.((((((((.....)))))))).)))))))))))))))))))))).....))))))))', 'rtdnaProduction': 94, 'bacterialEditing': 93, 'mamalianEditingGroup': '4'}