# Making Queries
Examples of querying the retron database using the `retrondb` package.

### Connecting to the database
If you are not sure how to do this, review `getting-started.ipynb`.

In [2]:
import retrondb as rdb
dbr = rdb.connect_retronDB('sandbox') #this database is for demos and tutorials; it is not the actual database

 Success: Connected to sandbox with 95 retrons

### Query by node ID
If you know the node IDs you are looking for, then this is the way to retrieve them.

In [3]:
# Simple node ID lookup. Only works for one node ID at a time.
rdb.get_retron(dbr,"1")

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f01cb5959907d83045df37,1,GAGTAACAGTCGGTTAGCTTCCTTCATGGGCCAGTCATGGCGAGTT...,None,None,1,I-A,IA/IIA1,57,25,1

To retrieve multiple retrons by node ID, use this `set` syntax with comparison operators: 
 * `$in` : in a list of values
 * `$nin` : not in a list of values
 * `$eq` : equal to a value
 * `$neq` : not equal to a value

In [8]:
node_list = ["1","28","64"]
rdb.get_retrons_by(dbr, "node", {"$in":node_list})

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f01cb5959907d83045df37,1,GAGTAACAGTCGGTTAGCTTCCTTCATGGGCCAGTCATGGCGAGTT...,None,None,1,I-A,IA/IIA1,57,25,1
1,62f01cb5959907d83045df38,28,TAGTTTGTCTTTTAGCGAATGAGGCATTTATGCCTAGTCGGGTGTT...,None,None,1,I-A,IA/IIA1,93,32,2
2,62f01cb5959907d83045df39,64,GCTCTTTAGCGTTTTATGGATTTACCACCTGATTGGTCAAATCTAG...,((((((((.........((((((((((......)))).)))))).(...,0.00003;0.00003;0.00003;0.00006;0.00006;0.0000...,None,None,None,26,78,2

### Query by any property
Alternatively, you can the same syntax above to query on any property in the database.

In [22]:
rdb.get_retrons_by(dbr, "Retron (sub)b", {"$eq":"I-A"})

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f04db0959907d83045e0b6,1,AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGAT...,None,None,1,I-A,IA/IIA1,57,25,1
1,62f04db0959907d83045e0b7,28,ACATACGGGGCGGGAACGCGGAATTGGACAACGTTATTTGACGTAC...,None,None,1,I-A,IA/IIA1,93,32,2

### Format query results
The default result is provides as pandas `DataFrame`. However, you can also specify `JSON` or `dict` or `raw` (for pymongo objects).

In [28]:
# Get a single retron by identifier as JSON, a dictionary or DataFrame
ret_raw=rdb.get_retrons_by(dbr, "Retron (sub)b", {"$eq":"I-A"},"raw")
ret_json=rdb.get_retrons_by(dbr, "Retron (sub)b", {"$eq":"I-A"},"json")
ret_dict=rdb.get_retrons_by(dbr, "Retron (sub)b", {"$eq":"I-A"},"dict")
ret_df=rdb.get_retrons_by(dbr, "Retron (sub)b", {"$eq":"I-A"})
print("Raw pymongo object: ")
print(ret_raw)
print("\nJSON String: ")
print(ret_json)
print("\nPython Dictionay: ")
print(ret_dict)
print("\nPandas DataFrame: ")
ret_df

Raw pymongo object:
<pymongo.cursor.Cursor object at 0x7fc429a02700>

JSON String:
[{"_id": {"$oid": "62f04db0959907d83045e0b6"}, "node": "1", "ncRNA": "AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGATACAAGATGCTTCACCAACTTGTTTGGAGTAAGTGCTGTATCACGAAGTGCGCCGATCGATGTAGTCGGAAAAGCATAGGAAGAGAACCGGATTTGTAAATTCTTTTTAGTCTGCCACCGAACGGGAATATCGCGAACTTCTACAGGACAATGCCTAGCACGCTCTTGGAGGTAAGGCTCACAAAGGCTGTGGTTCTGAGGGCGCGGAGTATACCGGGAAACTCTACCCGGCA", "ensemble prediction": null, "RTDNA (sequencing values)": null, "RT/Cladea": "1", "Retron (sub)b": "I-A", "msr/msd familiyc": "IA/IIA1", "RT-DNA production": "57", "Bacterial Editing": "25", "Mammalian Editing Group": "1"}, {"_id": {"$oid": "62f04db0959907d83045e0b7"}, "node": "28", "ncRNA": "ACATACGGGGCGGGAACGCGGAATTGGACAACGTTATTTGACGTACCCTGCAGGGGAATTGTTCTTATGGGTGTGTATCGCGGCCCCGAACGGATAACCCCCGGGTTGTAGGTTCATAGCAGCCAAACGGTGTTCCGGATGTCCCATACACTGCTA", "ensemble prediction": null, "RTDNA (sequencing values)": null, "RT/Cladea": "1", "Retron (sub)b": "I-A", "msr/msd familiyc": "IA/IIA1", "RT-DNA production": "93", "Bacterial Editing": "32", "Mammalian Editing Group": "2"}]

Python Dictionay:
[{'_id': {'$oid': '62f04db0959907d83045e0b6'}, 'node': '1', 'ncRNA': 'AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGATACAAGATGCTTCACCAACTTGTTTGGAGTAAGTGCTGTATCACGAAGTGCGCCGATCGATGTAGTCGGAAAAGCATAGGAAGAGAACCGGATTTGTAAATTCTTTTTAGTCTGCCACCGAACGGGAATATCGCGAACTTCTACAGGACAATGCCTAGCACGCTCTTGGAGGTAAGGCTCACAAAGGCTGTGGTTCTGAGGGCGCGGAGTATACCGGGAAACTCTACCCGGCA', 'ensemble prediction': None, 'RTDNA (sequencing values)': None, 'RT/Cladea': '1', 'Retron (sub)b': 'I-A', 'msr/msd familiyc': 'IA/IIA1', 'RT-DNA production': '57', 'Bacterial Editing': '25', 'Mammalian Editing Group': '1'}, {'_id': {'$oid': '62f04db0959907d83045e0b7'}, 'node': '28', 'ncRNA': 'ACATACGGGGCGGGAACGCGGAATTGGACAACGTTATTTGACGTACCCTGCAGGGGAATTGTTCTTATGGGTGTGTATCGCGGCCCCGAACGGATAACCCCCGGGTTGTAGGTTCATAGCAGCCAAACGGTGTTCCGGATGTCCCATACACTGCTA', 'ensemble prediction': None, 'RTDNA (sequencing values)': None, 'RT/Cladea': '1', 'Retron (sub)b': 'I-A', 'msr/msd familiyc': 'IA/IIA1', 'RT-DNA production': '93', 'Bacterial Editing': '32', 'Mammalian Editing Group': '2'}]

Pandas DataFrame:

,_id,node,ncRNA,ensemble prediction,RTDNA (sequencing values),RT/Cladea,Retron (sub)b,msr/msd familiyc,RT-DNA production,Bacterial Editing,Mammalian Editing Group
0,62f04db0959907d83045e0b6,1,AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGAT...,None,None,1,I-A,IA/IIA1,57,25,1
1,62f04db0959907d83045e0b7,28,ACATACGGGGCGGGAACGCGGAATTGGACAACGTTATTTGACGTAC...,None,None,1,I-A,IA/IIA1,93,32,2