# Updating Retrons
This is how you update, augment or edit retrons already in the database using a CSV file. These operations are distinct from adding new retrons (see `importing-retrons.ipynb`).

### Connecting to the database
If you are not sure how to do this, review `getting-started.ipynb`.

In [1]:
import retrondb as rdb
dbr = rdb.connect_retronDB('sandbox') #this database is for demos and tutorials; it is not the actual database

 Success: Connected to sandbox with 95 retrons

### Updating retron data in the database
As long as the retron properties you are updating already exist in the database, then you can leave the `new_property` paramater set to `False` and protect against accepting typos and using unconventional property names.

In this case, however, we have data on new properties...

In [2]:
rdb.update_retrons_by_csv(dbr, "demo_files/import-data-Update.csv", True)

Updated retrons in the database.

,_id,node,ncrna,ensemble prediction,rtdna (sequencing values),rt/cladea,retron (sub)b,msr/msd familiyc,rt-dna production,bacterial editing,...,class,cluster/domaind,domain,family,genus,order,phylum,retron namef,species/strain,taxon code
0,62f1b857959907d83045e6a1,1,AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGAT...,None,None,1,I-A,IA/IIA1,57,25,...,Gammaproteobacteria,22_1,Bacteria,Enterobacteriaceae,Escherichia,Enterobacterales,Proteobacteria,X,Escherichia coli 2362-75,670897
1,62f1b857959907d83045e6a3,64,CTTACAGACGGGCTGCCTAGGGGTCAACTGGACATAAGATCGGGGC...,((((((((.........((((((((((......)))).)))))).(...,0.00003;0.00003;0.00003;0.00006;0.00006;0.0000...,1,I-A,IA/IIA1,26,78,...,Gammaproteobacteria,22_1,Bacteria,Enterobacteriaceae,Escherichia,Enterobacterales,Proteobacteria,Retron-Eco4 (Ec83),Escherichia coli,670897

Note: By default, this method will only update pre-existing retrons. In this case, retrons 1 and 64. But our CSV file also contained data on two new retrons! 

If you want to both update and add at the same time, then be sure to set `add=True`, like so...

In [3]:
rdb.update_retrons_by_csv(dbr, "demo_files/import-data-Update.csv", True, True)

Updated retrons in the database.

,_id,node,ncrna,ensemble prediction,rtdna (sequencing values),rt/cladea,retron (sub)b,msr/msd familiyc,rt-dna production,bacterial editing,...,class,cluster/domaind,domain,family,genus,order,phylum,retron namef,species/strain,taxon code
0,62f1b857959907d83045e6a1,1,AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGAT...,None,None,1,I-A,IA/IIA1,57,25,...,Gammaproteobacteria,22_1,Bacteria,Enterobacteriaceae,Escherichia,Enterobacterales,Proteobacteria,X,Escherichia coli 2362-75,670897
1,62f1be01dc17a1c6abdede7d,11,NaN,NaN,NaN,1,I-A,IA/IIA1,NaN,NaN,...,Gammaproteobacteria,22_1,Bacteria,Vibrionaceae,Vibrio,Vibrionales,Proteobacteria,Retron-Vpa1 (Vp96)g,Vibrio parahaemolyticus,670
2,62f1be01dc17a1c6abdede73,2,NaN,NaN,NaN,1,I-A,IA/IIA1,NaN,NaN,...,Gammaproteobacteria,22_1,Bacteria,Enterobacteriaceae,Escherichia,Enterobacterales,Proteobacteria,Retron-Eco7 (Ec78),Escherichia coli,670897
3,62f1b857959907d83045e6a3,64,CTTACAGACGGGCTGCCTAGGGGTCAACTGGACATAAGATCGGGGC...,((((((((.........((((((((((......)))).)))))).(...,0.00003;0.00003;0.00003;0.00006;0.00006;0.0000...,1,I-A,IA/IIA1,26,78,...,Gammaproteobacteria,22_1,Bacteria,Enterobacteriaceae,Escherichia,Enterobacterales,Proteobacteria,Retron-Eco4 (Ec83),Escherichia coli,670897

Now all four rows of data are reflected in the DataFrame returned of the database entries updated (or added).

# Cleanup
This chunk will remove all the retrons added to the sandbox above, so the sandbox is ready for the next user.

In [6]:
rdb.remove_retrons_by(dbr, "node", {"$in":["1","2","11","64"]})
rdb.add_retrons_by_csv(dbr, "demo_files/import-data-Cleanup.csv")

Removed retrons from the database.
Added retrons to the database.

,_id,node,ncrna,ensemble prediction,rtdna (sequencing values),rt/cladea,retron (sub)b,msr/msd familiyc,rt-dna production,bacterial editing,mammalian editing group
0,62f1bf21029a73ff28f2d748,1,AATAATCTTACGCGGATAGAAATGTAATTATCGGTTGTTAGGAGAT...,None,None,1,I-A,IA/IIA1,57,25,1
1,62f1bf21029a73ff28f2d749,64,CTTACAGACGGGCTGCCTAGGGGTCAACTGGACATAAGATCGGGGC...,((((((((.........((((((((((......)))).)))))).(...,0.00003;0.00003;0.00003;0.00006;0.00006;0.0000...,None,None,None,26,78,2